<h1> Success ! your message will be delivered at/after <%= @message.send_at %> </h1>
<p>Your message will be delivered within a mnute or two after the scheduled timiing depending upon server load.</p>

<%= link_to 'Schedule another message', @broadcast_list %> | 
<a href='/'> Home </a>
